<form class="input" id="input">
    <h1 id="explanation">Legg til ny tekst</h1>
    <input type="text" id="title" class="title" placeholder="Title">
    <textarea name="" id="content" class="content" cols="30" rows="10" placeholder="Content"></textarea>
    <div class="btn-container" id="btn-container">
        <button class="btn btnSave" (click)="make()" id="save">Lagre</button>
        <button class="btn btnDelete" id="delete">Slett</button>
    </div>
</form>
<button class="btn btnPlus" (click)="newSection()">+</button>